<style>/* This acts as sort of CSS reset. The div that will use this class is a
   wrapper div for the entire test UI. By using this class we ensure that
   Camper code will be less specific and therefore won't override properties
   that could change the layout or styling of our test UI.
*/

/* Ensures that all child elements of the test UI wrapper div will have these
   properties specified so Camper CSS won't override these properties.
*/
.fcc_test_ui * {
  align-items: unset;
  background: unset;
  background-color: unset;
  border: unset;
  border-radius: unset;
  box-shadow: unset;
  color: unset;
  cursor: unset;
  display: unset;
  font-family: unset;
  font-stretch: unset;
  font-size: unset;
  font-style: unset;
  font-variant-caps: unset;
  font-weight: unset;
  height: unset;
  left: unset;
  letter-spacing: unset;
  line-height: unset;
  margin: unset;
  outline: unset;
  padding: unset;
  pointer-events: unset;
  position: unset;
  text-align: unset;
  transform: unset;
  vertical-align: unset;
  word-spacing: unset;
}

/* These rules are used for set default values on our elements.
   Based on Firefox css rules
   https://dxr.mozilla.org/mozilla-central/source/layout/style/res/html.css
*/

/* blocks */
.fcc_test_ui div,
.fcc_test_ui footer,
.fcc_test_ui header,
.fcc_test_ui section,
.fcc_test_ui select {
  display: block;
}

.fcc_test_ui p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.fcc_test_ui h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.fcc_test_ui h2,
.fcc_test_ui section h1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.fcc_test_ui h3,
.fcc_test_ui section,
section h1 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.fcc_test_ui pre {
  display: block;
  white-space: pre;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.fcc_test_ui option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

/* inlines */
.fcc_test_ui b,
.fcc_test_ui strong {
  font-weight: bolder;
}
.fcc_test_ui i,
.fcc_test_ui em {
  font-style: italic;
}

.fcc_test_ui u,
.fcc_test_ui ins {
  text-decoration: underline;
}

.fcc_test_ui s,
.fcc_test_ui strike,
.fcc_test_ui del {
  text-decoration: line-through;
}

.fcc_test_ui big {
  font-size: larger;
}

.fcc_test_ui small {
  font-size: smaller;
}

/* lists */
.fcc_test_ui ul,
.fcc_test_ui menu,
.fcc_test_ui dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

.fcc_test_ui ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

.fcc_test_ui li {
  display: list-item;
  text-align: match-parent;
}

/* hidden elements */
.fcc_test_ui script,
.fcc_test_ui style {
  display: none;
}

div.fcc_test_ui {
  align-items: normal;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: black;
  cursor: default;
  display: block;
  font-family: Noto Sans, arial, sans-serif;
  font-size: 100%;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 0;
  pointer-events: all;
  text-align: center;
  transform: none;
  word-spacing: 0;
}
#fcc_foldout_menu_inner {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 30px 10px 10px;
}

#fcc_foldout_menu_inner label {
  font-size: 15px;
}

#fcc_foldout_menu_inner select {
  background-color: buttonface;
  border: 1px solid;
  border-color: rgb(169, 169, 169);
  font-size: 12px;
  flex: 1 100%;
  margin: 10px 15px;
  text-align: left;
}

#fcc_foldout_menu_inner #fcc_ask-for-help {
  display: block;
  cursor: pointer;
}

button.fcc_foldout_button {
  background-color: rgba(50, 50, 50, 0.75);
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 4px black;
  box-sizing: content-box;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 20px;
  margin: 0 5px 10px;
  padding: 10px;
  text-align: center;
  width: 110px;
}

#fcc_test_message-box-rerun-button {
  transition: all 0.3s;
}

#fcc_test_message-box-rerun-button:hover {
  color: white;
  background-color: black;
}

button.fcc_test_btn-default {
  background-color: rgba(128, 128, 128, 0.7);
}

button.fcc_test_btn-executing {
  background-color: rgba(255, 153, 0, 0.9);
}

button.fcc_test_btn-error {
  background-color: rgba(255, 0, 0, 0.7);
}

button.fcc_test_btn-success {
  background-color: rgba(81, 211, 81, 0.9);
}

#fcc_ask-for-help {
  font-size: 12px;
}

#fcc_legend_wrapper {
  width: 125px;
  text-align: left;
  font-size: 15px;
  padding: 5px 0;
}

#fcc_legend_wrapper span {
  height: 15px;
  margin-top: 6px;
  font-size: 12px;
  color: black;
}

div.fcc_legend.key {
  height: 15px;
  width: 15px;
  margin: 5px;
  vertical-align: top;
}

div.fcc_legend.key:first-of-type {
  background-color: rgba(255, 0, 0, 0.7);
}

div.fcc_legend.key:nth-of-type(2) {
  background-color: rgba(81, 211, 81, 0.9);
}

div.fcc_legend.key:nth-of-type(3) {
  background-color: rgba(255, 153, 0, 0.9);
}

div.fcc_legend,
span.fcc_legend {
  display: inline-block;
}

div.fcc_test_ui {
  position: fixed;
  left: 0;
  top: 0;
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);/* Please note making changes to the styles here might make some of the project
tests no longer work, or even just give a false positive. Especially if you
change a selector name.
The project tests generally try to filter out any CSS selectors that
contain 'fcc_test', or that contain 'mocha'. So please make sure the
selectors here use that naming convention.
See the following project tests which rely on filtering out the CSS rules
used here. If you find other project tests that rely on the CSS here,
please add them to the list:
- styleSheetUtils.js
- product-landing-page-tests.js
*/

.fcc_test_report {
  font: 20px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 20px 40px;
}

/* Most of the rules here are taken from mocha css */

.fcc_test_message-box-content ul,
.fcc_test_message-box-content ol,
.fcc_test_message-box-content li {
  margin: 0;
  padding: 0;
}

.fcc_test_report ul {
  list-style: none;
}

.fcc_test_report h1,
.fcc_test_report h2 {
  margin: 0;
}

.fcc_test_report h1 {
  margin-top: 15px;
  font-size: 1em;
  font-weight: 200;
}

.fcc_test_report .suite .suite h1 {
  margin-top: 0;
  font-size: 0.8em;
}

.fcc_test_report .hidden {
  display: none;
}

.fcc_test_report h2 {
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.fcc_test_report .suite {
  margin-left: 15px;
}

.fcc_test_report .test {
  margin-left: 15px;
  overflow: hidden;
}

.fcc_test_report .test.pending:hover h2::after {
  content: '(pending)';
  font-family: arial, sans-serif;
}
.fcc_test_report .test.pass.medium .duration {
  background: #c09853;
}
.fcc_test_report .test.pass.slow .duration {
  background: #b94a48;
}

.fcc_test_report .test::before {
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 5px;
}

.fcc_test_report .test.pass::before {
  content: '✓';
  color: #00d6b2;
}
.fcc_test_report .test.pass .duration {
  font-size: 9px;
  margin-left: 5px;
  padding: 2px 5px;
  color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.fcc_test_report .test.pass.fast .duration {
  display: none;
}
.fcc_test_report .test.pending {
  color: #0b97c4;
}
.fcc_test_report .test.pending::before {
  content: '◦';
  color: #0b97c4;
}
.fcc_test_report .test.fail {
  color: #c00;
}
.fcc_test_report .test.fail pre {
  color: #000;
}
.fcc_test_report .test.fail::before {
  content: '✖';
  color: #c00;
}

.fcc_test_report .test pre.error {
  color: #c00;
  max-height: 300px;
  overflow: auto;
}

.fcc_test_report .test .html-error {
  overflow: auto;
  color: #000;
  line-height: 1.5;
  display: block;
  font: 12px/1.5 monaco, monospace;
  margin: 5px;
  padding: 15px;
  border: 1px solid #eee;
  max-width: 85%;
  max-width: calc(100% - 42px);
  max-height: 300px;
  border-bottom-color: #ddd;
  box-shadow: 0 1px 3px #eee;
  border-radius: 3px;
}
.fcc_test_report .test .html-error pre.error {
  border: none;
  border-radius: 0;
  box-shadow: 0;
  padding: 0;
  margin: 18px 0 0;
  max-height: none;
}
.fcc_test_report .test pre {
  font: 12px/1.5 monaco, monospace;
  margin: 5px;
  padding: 15px;
  border: 1px solid #eee;
  max-width: 85%;
  max-width: calc(100% - 42px);
  border-bottom-color: #ddd;
  box-shadow: 0 1px 3px #eee;
  border-radius: 3px;
  overflow: auto;
}

.fcc_test_report .test h2 {
  position: relative;
}

#fcc_test_mocha-report.pass .test.fail {
  display: none;
}

#fcc_test_mocha-report.fail .test.pass {
  display: none;
}

#fcc_test_mocha-report.pending .test.pass,
#fcc_test_mocha-report.pending .test.fail {
  display: none;
}

#fcc_test_mocha-report.pending .test.pass.pending {
  display: block;
}

.fcc_test_mocha-stats {
  font-size: 12px;
  margin: 0;
  color: #888;
}

.fcc_test_mocha-stats .progress {
  float: right;
  padding-top: 0;
  height: auto;
  box-shadow: none;
  background-color: initial;
}

.fcc_test_mocha-stats em {
  color: #000;
}

.fcc_test_mocha-stats a:hover {
  border-bottom: 1px solid #eee;
}

.fcc_test_mocha-stats li {
  display: inline-block;
  margin: 0 5px;
  list-style: none;
  padding-top: 11px;
}

.fcc_test_mocha-stats canvas {
  width: 40px;
  height: 40px;
}

.fcc_test_mocha-report code .comment {
  color: #ddd;
}

.fcc_test_mocha-report code .init {
  color: #2f6fad;
}

.fcc_test_mocha-report code .string {
  color: #5890ad;
}

.fcc_test_mocha-report code .keyword {
  color: #8a6343;
}

.fcc_test_mocha-report code .number {
  color: #2f6fad;
}

@media screen and (max-width: 480px) {
  .fcc_test_report {
    margin: 20px 0;
  }
}

/* TEST/MESSAGE CENTER CSS */

#fcc_test_message-box {
  font-size: 20px;
  font-family: Noto Sans, arial, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
  z-index: 100;
  overflow: auto;
}

#fcc_test_message-box.fcc_test_message-box-hidden {
  visibility: hidden;
  opacity: 0;
  top: -300px;
}

#fcc_test_message-box.fcc_test_message-box-shown {
  visibility: visible;
  opacity: 1;
  top: 0;
}

div.fcc_test_message-box-content {
  position: relative;
  color: black;
  background-color: white;
  top: 10vh;
  width: 80%;
  margin: 0 auto;
  text-align: initial;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.fcc_test_message-box-header,
.fcc_test_message-box-footer {
  position: relative;
  flex: none;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
}

.fcc_test_message-box-header {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.fcc_test_message-box-header .fcc_test_title {
  float: left;
  font-size: 30px;
  line-height: 40px;
  margin-left: 10px;
  padding: 0;
}

.fcc_test_message-box-header .fcc_test_stats {
  float: right;
}

div.fcc_test_message-box-body {
  flex: 1;
  position: static;
  max-width: 100%;
}

.fcc_test_message-box-footer {
  border-top: 1px solid rgb(229, 229, 229);
  height: 70px;
}

.fcc_test_message-box-close-btn {
  float: right;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: all 0.3s;
  line-height: 30px;
  height: auto;
}

.fcc_test_message-box-close-btn:hover {
  color: white;
  background-color: black;
}
#fcc_foldout_menu {
  background-color: rgba(255, 255, 204, 0.9);
  border: 0px solid #fff;
  border-radius: 0px 0px 5px 0px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  font-family: Noto Sans, arial, sans-serif;
  height: 210px;
  left: 0;
  pointer-events: all;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 320px;
}

#fcc_toggle:checked ~ #fcc_foldout_menu {
  left: -330px;
  transition: 0.5s ease-in-out;
}

#fcc_toggle:checked ~ #fcc_test_suite_indicator_wrapper {
  display: none;
}

#fcc_toggle {
  height: 24px;
  width: 30px;
  position: absolute;
  top: 7px;
  left: 10px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
  pointer-events: auto;
}

#fcc_foldout_toggler {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 1;
  pointer-events: auto;
}

#fcc_foldout_toggler_background {
  width: 39px;
  height: 30px;
  background-color: rgba(255, 255, 204, 0.08);
  transform-origin: 0% 50%;
  position: absolute;
  top: -13px;
  left: -7px;
  z-index: -1;
}

.transform_top {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, -1px);
}

.transform_middle {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.transform_bottom {
  opacity: 1;
  transform: rotate(-45deg);
}

.fcc_hamburger {
  position: relative;
  width: 25px;
  height: 4px;
  display: block;
  background: darkgreen !important;
  border-radius: 5px !important;
  transform-origin: 4px 0px;
  transition: transform 0.4s ease, opacity 0.55s ease;
  left: unset;
}

#hamburger_top {
  position: absolute;
  top: -7.5px;
  transform-origin: 0% 50%;
}

#hamburger_middle {
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

#hamburger_bottom {
  position: absolute;
  bottom: -7.5px;
  transform-origin: 0 50%;
}

#fcc_test_suite_indicator_wrapper {
  position: fixed;
  top: 15px;
  right: 20px;
  left: unset;
  height: auto;
}

#fcc_test_suite_indicator {
  position: static;
  font-size: 12px;
  background-color: rgba(255, 255, 204, 0.9);
  color: black;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  font-family: Noto Sans, arial, sans-serif;
}
//** START FROM HERE**//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    text-align: center;
    background: #140e0e;
    display: block;
    margin: -10px -10px -10px -10px;
    padding: 10px 10px 10px 10px;
    opacity: 1;
    color: white;
}
img{
  max-width: 30%;
  height: auto;
}
#page-wrapper {
  position: relative;
}
#nav{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style: none;
  display: list-item;
  margin-left: -25px;
}

a {
  color: #000;
  text-decoration: none;
}


nav {
  text-align: center;
  background: black;
  display: block;
  margin: 0px -10px 0px -10px;
  padding: 10px 10px 10px 10px;
  opacity: 1;
  color: white;

}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
}
.nav-link1{
  color: white;
  font-weight: 400;
  justify-content: flex-start;
}
.nav-link2{
  color: white;
  font-weight: 400;
  justify-content: center;

}
.nav-link3{
  color: white;
  font-weight: 400;
  justify-content: flex-end;

}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#rack-vs-cage > iframe {
    max-width: 560px;
    width: 100%;
    display: block;
}
#rack-vs-cage{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
    iframe {
        border-width: 2px;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        display: flex;
        justify-content: center;

    }

#Our-Mission{
  display: block;
  text-align: center;
  margin: 100px auto 100px auto;
}

#hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}
#why-us{
  display: block;
  text-align: center;
  margin: 100px auto 100px auto;
}
#form{
  display: flex;
  flex-direction: column;
}
#email{
font-size: 15px;
}
#submit{
  background-color: black;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px 20px 10px 20px;
  padding-right: 240px;
  padding-left: 130px;
  display: inline-block;
  border-radius: 15px;

}
.container {
  width: 100%;
  margin: 0 auto;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
  }

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    max-height: auto;
    min-width: 200px;
}

.level{
  margin: 10px 0px auto 0px;
  width: 20em;
line-height: 100%;
}

#originalprice{
  text-decoration: line-through;
  font-style: italic;
  font-size: 14px;
}

.btn {
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  width: 120px;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  color: white;
}
.product > button {
  border: 0;
  margin: 15px 0;
  background-color: black;
  font-weight: 400;
}

.product > button:hover {
  background-color: grey;
  transition: background-color 1s;
}
@media (max-width: 600px) {
  #pricing >.product{
    display: flex;
    flex-direction: column;
  }
}
footer {
          padding: 0;
          box-sizing: border-box;
          background-size: contain;
          background-color: grey;
          border-width: thick;
          margin-top: 10%;
    }

.footer{
  flex-direction: row;
  display: block;
}

#copyright{
left:0;
right: 0;
}

</style>
